# Notebook Instructions

1. All the <u>code and data files</u> used in this course are available in the downloadable unit of the <u>last section of this course</u>.
2. You can run the notebook document sequentially (one cell at a time) by pressing **shift + enter**. 
3. While a cell is running, a [*] is shown on the left. After the cell is run, the output will appear on the next line.

This course is based on specific versions of python packages. You can find the details of the packages in <a href='https://quantra.quantinsti.com/quantra-notebook' target="_blank" >this manual</a>.

## Importing data from Yahoo finance

To fetch data from Yahoo finance, you need to first pip install yfinance. The 'pip' command is a tool for installing and managing Python packages.

!pip install yfinance

You can fetch data from Yahoo finance using download method.

In [1]:
import yfinance as yf
data = yf.download('AAPL', start="2017-01-01", end="2017-04-30")
data.head()

[*********************100%***********************]  1 of 1 downloaded

              Open    High     Low   Close  Adj Close    Volume
Date
2017-01-03  115.80  116.33  114.76  116.15     110.95  28781900
2017-01-04  115.85  116.51  115.75  116.02     110.83  21118100
2017-01-05  115.92  116.86  115.81  116.61     111.39  22193600
2017-01-06  116.78  118.16  116.47  117.91     112.64  31751900
2017-01-09  117.95  119.43  117.94  118.99     113.67  33561900

## Importing data from Quandl

To fetch data from Quandl, first import quandl. Here, <b>quandl.get</b> function is used to fetch data for a security over a specific time period.

In [3]:
import quandl
from datetime import datetime

# quantrautil is a module specific to Quantra to fetch stock data
from quantrautil import get_quantinsti_api_key
api_key = get_quantinsti_api_key()

data = quandl.get('EOD/AAPL', start_date='2017-1-1',
                  end_date='2018-1-1', api_key=api_key)

# Note that you need to know the "Quandl code" of each dataset you download. In the above example, it is 'EOD/AAPL'.
# To get your personal API key, sign up for a free Quandl account. Then, you can find your API key on Quandl account settings page.

data.head()

,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume
Date,,,,,,,,,,,,
2017-01-03,115.80,116.3300,114.76,116.15,28781865.0,0.0,1.0,110.607504,111.113738,109.614138,110.941810,28781865.0
2017-01-04,115.85,116.5100,115.75,116.02,21118116.0,0.0,1.0,110.655262,111.285667,110.559746,110.817639,21118116.0
2017-01-05,115.92,116.8642,115.81,116.61,22193587.0,0.0,1.0,110.722123,111.623985,110.617055,111.381183,22193587.0
2017-01-06,116.78,118.1600,116.47,117.91,31751900.0,0.0,1.0,111.543560,112.861681,111.247461,112.622891,31751900.0
2017-01-09,117.95,119.4300,117.94,118.99,33561948.0,0.0,1.0,112.661097,114.074734,112.651546,113.654464,33561948.0

## Importing data using pandas_datareader

First you need to import data from <b>pandas_datareader</b> module. Here <b>data.get_data_yahoo</b> function is used to return the historical price of a stock's ticker, over a specifc time range.

In [5]:
# Yahoo recently has become an unstable data source.

# If it gives an error, you may run the cell again, or try again sometime later

import pandas as pd
from pandas_datareader import data
data = data.get_data_yahoo('AAPL', '2017-01-01', '2018-01-01')
data.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2017-01-03,116.330002,114.760002,115.800003,116.150002,28781900.0,110.953873
2017-01-04,116.510002,115.750000,115.849998,116.019997,21118100.0,110.829704
2017-01-05,116.860001,115.809998,115.919998,116.610001,22193600.0,111.393303
2017-01-06,118.160004,116.470001,116.779999,117.910004,31751900.0,112.635139
2017-01-09,119.430000,117.940002,117.949997,118.989998,33561900.0,113.666824

<font color="red">Note:</font>  Refer to this link for more alternative sources, fundamental data, futures and options data: https://blog.quantinsti.com/stock-market-data-analysis-python/

In the upcoming IPython notebook, we will learn about <b>Importing data from our local machine</b>.

Till then, get ready to solve some exercises. <br><br>