_Series_

In [27]:
import pandas as pd

# Series created using a list
My_Series_int = pd.Series([10, 20, 30, 40, 50, 60])

print(My_Series_int)

0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64

In [29]:
My_Series_flt = pd.Series([10.1, 20.2, 30.4, 40.4, 50.5, 60.6])

print(My_Series_flt)

0    10.1
1    20.2
2    30.4
3    40.4
4    50.5
5    60.6
dtype: float64

In [30]:
# Series created using a list
My_Series_mixed = pd.Series([10.1, 20, 'jay', 40.4])

print(My_Series_mixed)

0    10.1
1      20
2     jay
3    40.4
dtype: object

In [31]:
countries = ['India', 'USA', 'Japan', 'Russia', 'China']
leaders = ['Narendra Modi', 'Donald Trump',
           'Shinzo Abe', 'Vladimir Putin', 'Xi Jinpin']

S = pd.Series(leaders, index=countries)  # Index is explicitly defined here
S

India      Narendra Modi
USA         Donald Trump
Japan         Shinzo Abe
Russia    Vladimir Putin
China          Xi Jinpin
dtype: object

In [33]:
# Have a look at the series S1

stocks_set1 = ['Alphabet', 'IBM', 'Tesla', 'Infosys']

# Here, we are inserting data as a list in series constructor, but the argument of its index is passed as a pre-defined list
S1 = pd.Series([100, 250, 300, 500], index=stocks_set1)

print(S1)
print("\n")

# Now, have a look at the series S2

stocks_set2 = ['Alphabet', 'IBM', 'Tesla', 'Infosys']

# Here, we are inserting data as a list in series constructor, but the argument of its index is passed as a pre-defined list

S2 = pd.Series([500, 400, 110, 700], index=stocks_set2)

print(S2)
print("\n")

# We will add Series S1 and S2

print(S1 + S2)

Alphabet    100
IBM         250
Tesla       300
Infosys     500
dtype: int64


Alphabet    500
IBM         400
Tesla       110
Infosys     700
dtype: int64


Alphabet     600
IBM          650
Tesla        410
Infosys     1200
dtype: int64

In [34]:
# Adding lists that have different indexes  will create 'NaN' values

stocks_set1 = ['Alphabet', 'IBM', 'Tesla', 'Infosys']
stocks_set2 = ['Alphabet', 'Facebook', 'Tesla', 'Infosys']

S3 = pd.Series([100, 250, 300, 500], index=stocks_set1)
S4 = pd.Series([500, 700, 110, 700], index=stocks_set2)


print(S3)
print("\n")

print(S4)
print("\n")

print(S3+S4)

Alphabet    100
IBM         250
Tesla       300
Infosys     500
dtype: int64


Alphabet    500
Facebook    700
Tesla       110
Infosys     700
dtype: int64


Alphabet     600.0
Facebook       NaN
IBM            NaN
Infosys     1200.0
Tesla        410.0
dtype: float64

In [35]:
My_Series = pd.Series([10, 20, 30, 40, 50])

print(My_Series.index)

RangeIndex(start=0, stop=5, step=1)

In [36]:
My_Series = pd.Series([10, 20, 30, 40, 50])

print(My_Series.values)

[10 20 30 40 50]

In [37]:
print(S3 + S4)

Alphabet     600.0
Facebook       NaN
IBM            NaN
Infosys     1200.0
Tesla        410.0
dtype: float64

In [38]:
(S3 + S4).isnull()

Alphabet    False
Facebook     True
IBM          True
Infosys     False
Tesla       False
dtype: bool

In [39]:
print((S3 + S4).dropna())

Alphabet     600.0
Infosys     1200.0
Tesla        410.0
dtype: float64

In [40]:
print((S3 + S4).fillna(-1))

Alphabet     600.0
Facebook      -1.0
IBM           -1.0
Infosys     1200.0
Tesla        410.0
dtype: float64

In [43]:
import numpy as np  # Create a new series as My_Series

My_Series = pd.Series([10, 20, 30, 40, 50, 60, 90])

print(My_Series)

0    10
1    20
2    30
3    40
4    50
5    60
6    90
dtype: int64

In [44]:
My_Series.apply(np.sin)

0   -0.544021
1    0.912945
2   -0.988032
3    0.745113
4   -0.262375
5   -0.304811
6    0.893997
dtype: float64

In [45]:
My_Series.apply(np.tan)

0    0.648361
1    2.237161
2   -6.405331
3   -1.117215
4   -0.271901
5    0.320040
6   -1.995200
dtype: float64